
/* Cabeçalho */
.cabecalho { 
    background: linear-gradient(135deg, #14344c, #005CA9); /* degradê de cor */
    color: #FFFFFF; /* cor do título em branco */
    padding: 100px; /* altura do bloco */
    text-align: center; /* centraliza o texto */
    font-size: 24px; /* tamanho da fonte */
    font-weight: bold; /* em negrito */
}

/* Conteúdo */
.content {
    margin: 30px; /* margem do texto */
    color: #333; /* cor do texto */
    font-size: 16px; /* tamanho da fonte */
}

/* Títulos dentro do conteúdo */
.content h2 { 
    color: #14344c; 
    border-bottom: 2px solid #14344c; 
    padding-bottom: 10px; 
}

/* Menu fixo */
.rentagulo1 {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #14344c;
    color: white !important;
    text-align: center;
    width: auto;
    height: auto;
    position: fixed;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.rentagulo1 a {
    color: white;
    text-decoration: none; /* Remove o sublinhado */
}
.rentagulo1 a:hover {
    color: lightgray; /* muda a cor ao passar o mouse */
}

/* Caixa de destaque */
.quadrado {
    background-color: #14344c;
    color: white !important;
    text-align: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Seção com layout em grade para imagens e subtítulos */
section {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; /* espaço entre as colunas */
}
section h2 { 
    color: #14344c;
    border-bottom: 2px solid #005CA9;
    padding-bottom: 10px;
} 

/* Estilo das imagens na seção */
section img {
    max-width: 100%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 500px !important;
    height: 300px !important;
    display: block;
}
.animada {
	animation: girar 2s infinite linear;
}

 /*animacao de pulsar*/
 @keyframes pulsar {
    0% {transform: scale(1);}
    50% {transform: scale(1.1); }
    100% {transform: scale(1);}
}

.animada{
    animation: pulsar 2s infinite;
}
